@media (max-width: 1599px) {
    .section .title {
        font-size: 54px;
    }

    .quantity .more {
        margin-right: -3px;
    }

    .quantity .less, .quantity .more {
        width: 20px;
    }
}

@media (max-width: 1199px) {
    .section .title {
        font-size: 42px;
    }

    .reservation-tunnel .step.step1 .offrir-accroche {
        padding: 30px 5px 30px 50px;
    }

    .event-list h3 {
        font-size: 22px;
    }

    .checkout__form legend {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
    }

    .checkout-information-form .security-mention {
        margin-top: 0;
    }
}

@media (max-width: 1024px) {

    .booking form .content {
        width: 100%;
    }

    .booking form {
        flex-direction: column;
    }

    .sitemap {
        padding: 0;
    }

    #js-book-btn-modele-mobile.visibility-hidden {
        visibility: visible;
        opacity: 1;
    }

    .reservation-tunnel .step.step1 {
        min-height: inherit;
    }

    .event-list, .options .options {
        max-height: calc(100vh - 240px);
    }

    .step.step3 .options > .form-group:last-child {
        bottom: 50px;
    }

    .reservation-tunnel .step {
        height: 200px;
        min-height: calc(100vh - 200px);
    }

    .reservation-tunnel .mobile-nav .step-nav {
        margin-top: 0;
    }

    #nav .container:nth-of-type(2) ul {
        padding: 5px 10px;
    }

    #nav {
        height: 50px;
    }

    #nav .container {
        padding-left: 0;
        padding-right: 0;
    }

    .reservation-tunnel .mobile-nav .step-nav {
        padding: 5px calc(5% + 33px) 20px;
    }

    .reservation-tunnel .step.step1 {
        padding: 5px 20px;
    }

    .reservation-tunnel .step .title {
        font-size: 18px;
        margin: 0 0 5px 0;
    }

    form .tm-form label {
        font-size: 14px;
    }

    .reservation-tunnel .step .quantity select {
        font-size: 24px;
    }

    .reservation-tunnel .step.step2.active {
        padding: 5px 20px;
    }

    .reservation-tunnel .step.step2 .title {
        padding: 0;
    }

    .event-list .dd {
        margin-top: 0 !important;
    }

    .reservation-tunnel .step.step3 {
        padding: 5px 20px;
    }

    .reservation-tunnel .step.step3 {
        padding: 0;
        margin: 0;
    }

    #map svg {
        display: block;
        margin: auto;
    }

    .reservation-tunnel .step {
        width: 33%;
        height: 200px;
        min-height: calc(100vh - 106px);
        padding-top: 33px;
        text-align: left;
        position: relative;
        visibility: visible;
    }

    .event-list, .options .options {
        max-height: calc(100vh - 132px);
    }

    .step3 .options .js-custom-scrollbar {
        max-height: calc(100vh - 293px);
    }

    .js-order-modal-trigger-2 {
        padding: 10px 25px;
    }

    #nav .container:nth-of-type(3) {
        border-top: none;
    }

    #edit-information .form-item {
        margin-bottom: 10px;
    }

    .checkout__form {
        padding: 20px;
    }

    .checkout__form legend {
        margin-bottom: 0;
    }

    .checkout__form .btn {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .home_page .section#show .container:nth-of-type(1) .content:nth-of-type(1), .home_page .section#show #cookie .cookie__content:nth-of-type(1) .content:nth-of-type(1), #cookie .home_page .section#show .cookie__content:nth-of-type(1) .content:nth-of-type(1) {
        padding-bottom: 50px;
    }

    .checkout__form {
        padding: 10px;
    }
}

@media (max-width: 374px) {
    .section .title {
        font-size: 24px;
    }

    .booking form .form-item input, .booking form .form-item select {
        font-size: 20px;
    }

    .reviews .container .content, .reviews #cookie .cookie__content .content, #cookie .reviews .cookie__content .content {
        display: flex;
        margin-bottom: 20px;
    }

    .home_page .section#place > .container .container:nth-of-type(1) .content:nth-of-type(2) {
        padding: 25px 0;
    }

    .home_page .section#show .container:nth-of-type(1) .content:nth-of-type(1), .home_page .section#show #cookie .cookie__content:nth-of-type(1) .content:nth-of-type(1), #cookie .home_page .section#show .cookie__content:nth-of-type(1) .content:nth-of-type(1) {
        padding-bottom: 25px;
    }

    .checkout__form {
        padding: 0;
    }
}

/*modals*/