@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Light.eot);
    src: url(../fonts/Lato-Light.svg#Lato-Light) format("svg"), url(../fonts/Lato-Light.eot#iefix) format("embedded-opentype"), url(../fonts/Lato-Light.woff) format("woff"), url(../fonts/Lato-Light.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    text-rendering: optimizeLegibility
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-LightItalic.eot);
    src: url(../fonts/Lato-LightItalic.eot#iefix) format("embedded-opentype"), url(../fonts/Lato-LightItalic.woff) format("woff"), url(../fonts/Lato-LightItalic.ttf) format("truetype"), url(../fonts/Lato-LightItalic.svg#Lato-LightItalic) format("svg");
    font-weight: 100;
    font-style: italic;
    font-stretch: normal;
    text-rendering: optimizeLegibility
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.eot);
    src: url(../fonts/Lato-Regular.eot#iefix) format("embedded-opentype"), url(../fonts/Lato-Regular.woff) format("woff"), url(../fonts/Lato-Regular.ttf) format("truetype"), url(../fonts/Lato-Regular.svg#Lato-Regular) format("svg");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    text-rendering: optimizeLegibility
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Medium.eot);
    src: url(../fonts/Lato-Medium.eot#iefix) format("embedded-opentype"), url(../fonts/Lato-Medium.woff) format("woff"), url(../fonts/Lato-Medium.ttf) format("truetype"), url(../fonts/Lato-Medium.svg#Lato-Medium) format("svg");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    text-rendering: optimizeLegibility
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Heavy.eot);
    src: url(../fonts/Lato-Heavy.eot#iefix) format("embedded-opentype"), url(../fonts/Lato-Heavy.woff) format("woff"), url(../fonts/Lato-Heavy.ttf) format("truetype"), url(../fonts/Lato-Heavy.svg#Lato-Heavy) format("svg");
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    text-rendering: optimizeLegibility
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-HeavyItalic.eot);
    src: url(../fonts/Lato-HeavyItalic.eot#iefix) format("embedded-opentype"), url(../fonts/Lato-HeavyItalic.woff) format("woff"), url(../fonts/Lato-HeavyItalic.ttf) format("truetype"), url(../fonts/Lato-HeavyItalic.svg#Lato-HeavyItalic) format("svg");
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    text-rendering: optimizeLegibility
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Bold.eot);
    src: url(../fonts/Lato-Bold.eot#iefix) format("embedded-opentype"), url(../fonts/Lato-Bold.woff) format("woff"), url(../fonts/Lato-Bold.ttf) format("truetype"), url(../fonts/Lato-Bold.svg#Lato-Bold) format("svg");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    text-rendering: optimizeLegibility
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Black.eot);
    src: url(../fonts/Lato-Black.eot#iefix) format("embedded-opentype"), url(../fonts/Lato-Black.woff) format("woff"), url(../fonts/Lato-Black.ttf) format("truetype"), url(../fonts/Lato-Black.svg#Lato-Black) format("svg");
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    text-rendering: optimizeLegibility
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-BlackItalic.eot);
    src: url(../fonts/Lato-BlackItalic.eot#iefix) format("embedded-opentype"), url(../fonts/Lato-BlackItalic.woff) format("woff"), url(../fonts/Lato-BlackItalic.ttf) format("truetype"), url(../fonts/Lato-BlackItalic.svg#Lato-BlackItalic) format("svg");
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    text-rendering: optimizeLegibility
}