.body-noscroll {
    overflow: hidden;
}

.tm-modal {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.1);
}

.tm-modal-body {
    position: relative;
    width: 80%;
    background: #ffffff;
    padding: 60px 20px 20px;
    margin: 40px auto auto;
    /*overflow: auto;*/
    height: 80vh;
    border-radius: 5px;
}

.tm-modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #363636;
    cursor: pointer;
}

.tm-modal-content {
    height: inherit;
}

.tm-modal .reservation-tunnel {
    position: static;
}

.tm-modal.tm-hidden {
    display: none;
}

.reservation-tunnel .step.step2, .reservation-tunnel .step.step3 {
    width: 36%;
}

.reservation-tunnel .step.step3 {
    padding: 30px;
}

.step2 .offers {
    display: none;
}

.step3 .options {
    display: none;
}

/*playbill*/
/*event list*/

.event-list {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-family: "Lato", Arial, sans-serif;
    line-height: 1.5;
    font-size: 12px;
    color: #333333;

    background-color: #f5f5f5;
}

.event-list * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.event-list *:before, .event-list *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.event-date {
    margin: 5px 0;
    position: relative;
    background-color: #0f1e48;
    font-size: 24px;
    color: white;
    padding: 15px 0 15px 40px;
}

.sticky-wrapper .event-date {
    margin-top: 0 !important;
}

.event-date:before, .event-date:after {
    content: '';
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
}

.event-date:before {
    top: -1px;
    border-bottom: dashed 1px #a9a9a9;
}

.event-date:after {
    bottom: -1px;
    border-top: dashed 1px #a9a9a9;
}

.event-list .event-box {
    border-bottom: dashed 1px #a9a9a9;
}

.media-news, .catalogs-links, .page-title, .container-white, .container-red, .container-blue, .event-list .event-box, .calender-box {
    padding: 15px;
}

.event-list .event-box:before, .event-list .event-box:after {
    content: " ";
    display: table;
}

.event-list .event-box:after {
    clear: both;
}

.event-list .event-box .pull-left, .event-list .event-box .pull-right {
    float: none !important;
    text-align: center;
    margin-bottom: 10px;
}

.event-list .event-box .pull-right {
    display: flex;
    align-items: center;
}

.event-list .picture-holder {
    position: relative;
    margin: 0;
    display: inline-block;
}

.event-list .pennon-box {
    position: absolute;
    display: none;
    top: 5px;
    right: 100%;
    text-align: right;
}

.event-list .pennon-box .pennon {
    position: relative;
    padding: 7px 12px;
    height: 42px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    display: inline-block;
}

.event-list .pennon-box .pennon.white {
    color: #373737;
    z-index: 1;
    background-color: #fff;
}

.event-list .pennon-box .pennon:before, .event-list .pennon-box .pennon:after {
    content: '';
    position: absolute;
    right: 100%;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
}

.event-list .pennon-box .pennon:before {
    top: 0;
    border-width: 0 21px 21px 0;
}

.event-list .pennon-box .pennon.white:before {
    border-color: rgba(255, 255, 255, 0) #fff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.event-list .pennon-box .pennon:after {
    bottom: 0;
    border-width: 0 0 21px 21px;
}

.event-list .pennon-box .pennon.white:after {
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #fff rgba(255, 255, 255, 0);
}

.event-list a:not(.btn) {
    background: transparent;
    /*color: #428bca;*/
    text-decoration: none;
}

.event-list img {
    border: 0;
    vertical-align: middle;
}

.event-list .img-thumbnail {
    padding: 4px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.event-list .buttons {
    /*width: 155px;*/
    width: 100%;
    /*display: inline-block;*/
    margin: 0;
}

.event-list .buttons .price {
    background-color: #fff;
    border: dashed 1px #ddd;
    margin-bottom: 10px;
    padding-top: 6px;
    text-align: center;
}

.event-list small, .event-list .small {
    font-size: 85%;
}

.event-list .text-muted {
    color: #999;
}

.event-list .buttons .price small {
    display: block;
}

.event-list b, .event-list strong {
    font-weight: bold;
}

.event-list .text-danger {
    color: #0f1e48;
}

.event-list .buttons .price strong {
    font-size: 24px;
}

/*.event-list .btn {*/
/*display: inline-block;*/
/*margin-bottom: 0;*/
/*font-weight: normal;*/
/*text-align: center;*/
/*vertical-align: middle;*/
/*cursor: pointer;*/
/*background-image: none;*/
/*border: 1px solid transparent;*/
/*white-space: nowrap;*/
/*padding: 4px 12px;*/
/*font-size: 14px;*/
/*line-height: 1.42857;*/
/*border-radius: 4px;*/
/*-webkit-user-select: none;*/
/*-moz-user-select: none;*/
/*-ms-user-select: none;*/
/*user-select: none;*/
/*}*/

/*.event-list .btn-danger {*/
/*color: #fff;*/
/*background-color: #f34e58;*/
/*border-color: #f34e58;*/
/*}*/

.event-list .btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

.event-list .btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.btn-block + .btn-block {
    margin-top: 5px;
}

.event-list a.btn.btn-primary.btn-block {
    display: none !important;
}

.event-list .media, .event-list .media-body {
    overflow: hidden;
    zoom: 1;
}

.event-list .event-box .media-body {
    margin-top: 20px;
}

.event-list .event-header {
    border-bottom: solid 1px #ddd;
    margin-bottom: 10px;
}

.event-list h2, .js-theater-modal h2 {
    font-family: inherit;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
}

.event-list h2:hover a, .event-list h2.active a, .js-theater-modal h2:hover a, .js-theater-modal h2.active a {
    color: #b8a15d;
}

.event-list h3 {
    font-family: inherit;
    line-height: 1.2;
    color: #b8a15d;

    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 300;

    font-size: 24px;
}

.event-list h3 span time {
    color: #0f1e48 !important;
}

.event-list h3 span span {
    left: auto !important;
}

/*#0f1e48*/

.event-list h3:first-child {
    margin-top: 0;
}

.event-list .event-header h3 {
    margin: 0 0 3px;
}

.event-list .event-header a {
    color: inherit;
}

.event-list p {
    margin: 0 0 10px;
}

.event-list .event-header p {
    margin: 0 0 5px;
}

.event-list .event-header .place-info {
    display: inline-block;
    /*color: #428bca;*/
    color: #0f1e48;
    text-decoration: none;
    /*border-bottom: dashed 1px #428bca;*/
    border-bottom: dashed 1px #0f1e48;
    margin: 0 5px;
}

.event-list .text-danger {
    color: #0f1e48;
}

.event-list .event-header .info span + span {
    display: inline-block;
    padding-left: 7px;
    margin-left: 7px;
    position: relative;
}

.event-list .event-header .info span + span:before {
    content: "|";
    position: absolute;
    left: -1px;
    top: 0;
}

.event-list {
    background-color: transparent;
}

.event-list .event-box {
    background-color: #f5f5f5;
}

.event-list .dd {
    margin-top: 15px !important;
}

.event-list .sticky-wrapper, .event-list .event-box {
    margin-bottom: 5px;
}

.event-list .event-box {
    display: flex;
    flex-wrap: wrap;
}

.event-list .event-box .pull-left, .event-list .event-box .pull-right {
    width: 50%;
}

/*show more block*/
.show-more-block {
    width: 100%;
}

.show-menu {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #071846;
    font-weight: bold;
    position: relative;
    font-size: 12px;
    -webkit-transition: all .2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    transition: all .2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.show-menu:hover {
    color: #0f1e48;
}

.show-menu:after {
    content: "";
    display: block;
    background-image: url(../images/gold.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    width: 11px;
    height: 7px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: #b8a15d;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 10px) rotate(0deg);
    transform: translate(-50%, 10px) rotate(0deg);
    -webkit-transition: all .2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    transition: all .2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.show-menu:hover:after {
    -webkit-transform: translate(-50%, 15px) rotate(0deg);
    transform: translate(-50%, 15px) rotate(0deg);
}

.show-more-block .container-white {
    display: none;
}

/*Scrollbar*/

.event-list, .options .options {
    max-height: calc(100vh - 174px);
}

.reservation-tunnel .step.step3 .options, .reservation-tunnel .step.step2 .offers {
    margin-right: 0;
    padding: 0 0 20px 0;
}

.mCSB_scrollTools {
    background-color: transparent;
}

/*flatpickr*/
.js-flatpickr {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    color: #0f1e48;
    font-size: 16px;
    border: 0;
    margin-top: -5px;
    position: relative;
    overflow: visible;
}

.flatpickr-monthDropdown-months {
    display: inline-block;
}

.btn.next1 {
    display: block;
    width: 80%;
    margin: 20px auto 40px;
}

/*js*/

.server-datas {
    display: none;
}

.reservation-tunnel .step.step2.active {
    padding: 30px;
    background: #ffffff;
}

.reservation-tunnel .step.step3.active {
    background: #ffffff;
}

/*bootstrap legacy*/
.row {
    display: flex;
    justify-content: space-between;
}

.row > .col-xs-6 {
    width: 50%;
    margin-right: 20px;
}

.col-md-12 p a img {
    margin: 0 5px 5px 0;
}

.panel-collapse {
    display: none;
}

.panel-collapse.open {
    display: block;
}

/*other*/

.step.step3 .options .options .form-group:last-child {
    margin-bottom: 110px;
}

.step.step3 .options > .form-group:last-child {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 2000;
}

/*theater modals styles*/
.js-theater-modal .container-white {
    -webkit-tap-highlight-color: transparent;
    line-height: 1.42857;
    color: #373737;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    padding: 0 40px;
}

.js-theater-modal .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.js-theater-modal .panel-default {
    border-color: #ddd;
}

.js-theater-modal .panel-body, .js-theater-modal .panel-heading {
    padding: 15px;
}

.js-theater-modal .map-holder iframe {
    width: 100%;
}

.js-theater-modal .img-responsive {
    width: 100%;
}

.js-theater-modal h2 {
    margin: 0;
}

.js-theater-modal h2 a {
    text-decoration: none;
    color: #0f1e48;
}

.js-theater-modal .panel-heading {
    background-color: #f5f5f5;
}

/*other modals*/

.js-terms-modal .tm-modal-body, .js-privacy-modal .tm-modal-body, .js-contact-modal .tm-modal-body {
    width: 60%;
}

.js-terms-modal .tm-modal-content, .js-privacy-modal .tm-modal-content, .js-contact-modal .tm-modal-content {
    color: #373737;
    font-size: 16px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    padding: 0 40px;
}

.js-terms-modal h2, .js-privacy-modal h2, .js-contact-modal h2 {
    margin-bottom: 40px;
}

.js-terms-modal p, .js-privacy-modal p, .js-contact-modal p {
    margin-bottom: 20px;
}

form:not(.myform) input.tm-input[type="checkbox"]:not(:checked), form:not(.myform) input.tm-input[type="checkbox"]:checked, form:not(.myform) {
    position: relative;
    left: auto;
}

form .tm-form .tm-input[type="checkbox"] {
    width: 18px;
    height: 18px;
    /*-webkit-appearance: checkbox;*/
    /*appearance: checkbox;*/
    display: inline-block;
    border: 1px solid #b8a15d;
    margin-right: 10px;
    vertical-align: sub;
}

form .tm-form .tm-input[type="checkbox"]:checked::before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px auto;
}

form .tm-form label {
    font-size: 16px;
    display: block;
    text-transform: uppercase;
    cursor: pointer;
    /*margin-bottom: 10px;*/
}

.reservation-tunnel .step.step1 form .content .form-item .block label {
    min-width: 0;
    width: auto;
    color: #333333;
    text-transform: uppercase;
    font-weight: 300;
    font-style: normal;
    display: block;
    line-height: 32px;
}

.tm-dropdown-inputs {
    position: relative;

    background: transparent;
    padding: 0 0 5px;
    border-bottom: 1px solid #ededed;
    -webkit-transition: all .27s ease-out 0s;
    transition: all .27s ease-out 0s;
    cursor: pointer;
}

.tm-dropdown-inputs:hover {
    border-color: #b8a15d;
}

.tm-dropdown-inputs:after {
    content: "";
    display: block;
    background-image: url(../images/chevron.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    width: 11px;
    height: 6px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    position: absolute;
    right: 0;
    bottom: 12px;
    -webkit-transition: all .27s ease-out 0s;
    transition: all .27s ease-out 0s;
}

.tm-dropdown-inputs.active:after {
    transform: rotate(180deg);
    -webkit-transition: all .27s ease-out 0s;
    transition: all .27s ease-out 0s;
}

.tm-dropdown-inputs .tm-dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    min-width: 160px;
    width: 100%;
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
    padding: 10px;
    z-index: 1;

    max-height: 0;
    -webkit-transition: max-height .5s ease-out, overflow-y 0.1s 0.5s;
    transition: max-height .5s ease-out, overflow-y 0.1s 0.5s;
    overflow: hidden;
    box-sizing: border-box;
}

.tm-dropdown-inputs span {
    font-size: 16px;
    line-height: 1.6;
    font-style: italic;
    font-weight: 100;
    color: #000;
    text-align: left;
    text-decoration: none;
}

.tm-dropdown-inputs.active .tm-dropdown-content {
    display: block;
    max-height: 250px;
    overflow-y: auto;
    webkit-filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.13));
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.13));
    z-index: 2;
}

.js-all-trigger, .js-clear-trigger {
    display: inline-block;
    margin: 0 10px 10px 0;
    color: #0f1e48;
    text-decoration: none;
}

.js-all-trigger:hover, .js-clear-trigger:hover {
    color: #0f1e48;
}

#edit-gift {
    display: none;
}

#edit-gift.active {
    display: block;
}

.tm-form .tm-dropdown-content label {
    font-size: 12px;
}

.offers .event-box strong {
    color: #333333;
}

.step3 .options .js-custom-scrollbar {
    max-height: calc(100vh - 328px);
}

.point_raphael {
    color: #333333;
}

.zoneb {
    display: block;
}

#edit-gift > .fieldset-wrapper {
    margin: 0;
    width: auto;
    padding: 30px 30px 30px 0;
}

#edit-gift > .fieldset-wrapper:before {
    content: none;
}

.checkout__form {
    padding: 30px;
}

.checkout__summary .mCSB_container > div > ul > li ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intl-tel-input .country-list {
    max-width: 300px;
}

.form-item.adults .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking form .form-item .block:before, .booking form .form-item .block:after {
    display: none;
}

.tm-form .content {
    margin-bottom: 20px;
}

.mCSB_inside>.mCSB_container {
    margin-right: 45px;
}

#js-total-price li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.js-submit-stage-1, .show-more-block .show-menu {
    position: relative;
}

.js-submit-stage-1::before, .show-more-block .show-menu::before {
    display: none;
    position: absolute;
    content: '';
    background: url("../images/pre.gif") no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.js-submit-stage-1.loading::before, .show-more-block .show-menu.loading::before {
    display: block;
}

.reservation-tunnel .step.step3 {
    position: relative;
}

.reservation-tunnel .step.step3::before {
    display: none;
    position: absolute;
    content: '';
    background: url("../images/pre.gif") no-repeat;
    background-position: 50% 50%;
    background-size: 100px 100px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.reservation-tunnel .step.step3.loading::before {
    display: block;
}

.checkout__form #edit-payement-mode {
    height: 90px;
}